.overlay{

    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000; /* Убедитесь, что модальное окно выше других элементов */

}

.modal{
    width: 800px;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    gap: 30px;
}

.modalItem{
    border: 1px solid black;
padding: 20px;
}

.modalItem:hover{
    cursor: pointer;
    background-color: beige;
}